.nav-link.active{
    background-color: #78c2ad6e !important;
    color:#f3969a !important;
}  

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; 
}
body {
    margin: 0;
    margin-bottom: 60px;
  }
  html {
    min-height: 100%;
    position: relative;
  }

.bordesRedondos{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

  @media print {
    .tabladinamica {
        background-color: white;
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 15px;
        font-size: 14px;
        line-height: 18px;
    }
}

.tablaDinamicaAdministrador tbody tr:first-child td{
    background-color: #86a5d8 !important;
}
.tablaDinamicaAdministrador{
  min-width: 600px;
}